@using D69soft.Client.Services;
@using D69soft.Shared.Models.ViewModels.SYSTEM;

@inject NavigationManager navigationManager

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="error-page text-center">
            <h2 class="headline text-danger">500</h2>

            <div class="error-content">
                <h3 class="text-danger"><i class="fas fa-exclamation-triangle text-danger"></i> Cảnh báo! Có lỗi hệ thống xảy ra.</h3>

                <p>
                    Liên hệ quản trị viên để khắc phục hệ thống.
                </p>

                <i class="fa-solid fa-bug fa-5x"></i>

            </div>

            <br/>

            <button type="button" class="btn btn-block btn btn-danger" @onclick="@(()=>RefreshApp())"><i class="fa-solid fa-arrows-rotate"></i> Tải lại ứng dụng</button>

        </div>
        <!-- /.error-page -->
    </div>
</section>
<!-- /.content -->
@code {
    [Inject] SysService sysService { get; set; }

    [Parameter]
    public Exception exception { get; set; }

    LogVM logVM = new();

    protected override async Task OnInitializedAsync()
    {
        if (exception is not null)
        {
            logVM.LogType = "ERR";
            logVM.LogName = exception.GetType().ToString();
            logVM.LogDesc = exception.Message;
            await sysService.InsertLog(logVM);
        }
    }

    private void RefreshApp()
    {
        navigationManager.NavigateTo("/", true);
    }
}