@page "/"
@using D69soft.Client.Pages.Auth
@using D69soft.Client.Services;
@using D69soft.Shared.Models.ViewModels.SYSTEM;
@using Microsoft.AspNetCore.Components.Authorization;

<div id="slider">
    <div class="box-body">

        <div class="dashboard-content">
        </div>

    </div>
</div>

<Modal_ChangePass UserID=@filterVM.UserID></Modal_ChangePass>

@code {
    [Inject] IJSRuntime js { get; set; }
    [CascadingParameter] private Task<AuthenticationState> authenticationStateTask { get; set; }

    [Inject] AuthService authService { get; set; }

    //Filter
    FilterVM filterVM = new();

    protected override async Task OnInitializedAsync()
    {
        filterVM.UserID = (await authenticationStateTask).User.GetUserId();

        if (!await authService.CheckChangePassDefault(filterVM.UserID))
        {
            await js.InvokeAsync<object>("ShowModal", "#InitializeModal_ChangePass");
        }
    }
}
