@page "/"
@using D69soft.Client.Helpers;
@using D69soft.Client.Pages.Auth
@using D69soft.Client.Services;
@using D69soft.Server.Services;
@using Microsoft.AspNetCore.Components.Authorization;

<div id="slider">
    <div class="box-body">

        <div class="dashboard-content">
        </div>

    </div>
</div>

<Modal_ChangePass UserID=@UserID></Modal_ChangePass>

@code {
    [Inject] IJSRuntime js { get; set; }
    [CascadingParameter] private Task<AuthenticationState> authenticationStateTask { get; set; }

    [Inject] AuthService authService { get; set; }

    protected string UserID;

    protected override async Task OnInitializedAsync()
    {
        UserID = (await authenticationStateTask).User.GetUserId();

        if (!await authService.CheckChangePassDefault(UserID))
        {
            await js.InvokeAsync<object>("ShowModal", "#InitializeModal_ChangePass");
        }
    }
}
