@page "/Error"
@using D69soft.Client.Services.FIN;
@using D69soft.Shared.Models.ViewModels.SYSTEM;
@inject NavigationManager navigationManager

<!-- Error 404 Area Start -->
<div class="error500-area pt-30 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="error-wrapper text-center ptb-50 pt-xs-20">
                    <div class="error-text">
                        <h1>500</h1>
                        <h2>Opps! SOMETHING WENT WRONG</h2>
                        <p>We will work on fixing that right away.</p>
                    </div>
                    <div class="search-error">
                        <form id="search-form" action="#">
                            <input type="text" placeholder="Search">
                            <button><i class="zmdi zmdi-search"></i></button>
                        </form>
                    </div>
                    <div class="error-button">
                        <a href="/" @onclick="@(()=>RefreshApp())">Reload App</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Error 404 Area End -->

@code {
    [Inject] eCommerceService eCommerceService { get; set; }

    [Parameter]
    public Exception exception { get; set; }

    LogVM logVM = new();

    protected override async Task OnInitializedAsync()
    {
        if (exception is not null)
        {
            logVM.LogType = "ERR";
            logVM.LogName = exception.GetType().ToString();
            logVM.LogDesc = exception.Message;
            await eCommerceService.InsertLog(logVM);
        }
    }

    private void RefreshApp()
    {
        navigationManager.NavigateTo("/", true);
    }
}