@page "/POS/RoomTable"

<div class="modal fade" data-backdrop="static" data-keyboard="false" id="InitializeModal_RoomTableArea">
    <div class="modal-dialog">
        <div class="modal-content">


            <div class="modal-header">
                <h5 class="modal-title">
                    <span>THÊM MỚI KHU VỰC</span>
                </h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Tên khu vực</label>
                    <div class="col-sm-9">

                        <input type="text" class="form-control form-control-border border-width-2" placeholder="Tầng 1,Tầng 2.." />

                    </div>
                </div>

                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-default btn-lg" data-dismiss="modal"><i class="fas fa-times"></i> Thoát</button>

                    <button type="submit" class="btn btn-success btn-lg">
                        <i class="fas fa-save"></i>
                        Cập nhật
                    </button>

                    <button type="submit" class="btn btn-danger btn-lg">
                        <i class="fas fa-trash"></i>
                        Xóa
                    </button>

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>

<div class="modal fade" data-backdrop="static" data-keyboard="false" id="InitializeModal_UpdateRoomTable">
    <div class="modal-dialog">
        <div class="modal-content">


            <div class="modal-header">
                <h5 class="modal-title">
                    <span>THÊM MỚI PHÒNG/BÀN</span>
                </h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Tên phòng/bàn</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control form-control-border border-width-2" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Khu vực</label>
                    <div class="col-sm-9">
                        <select class="form-control form-control-border border-width-2">
                            <option>Tầng 1</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Số thứ tự</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control form-control-border border-width-2" />
                    </div>
                </div>

                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-default btn-lg" data-dismiss="modal"><i class="fas fa-times"></i> Thoát</button>

                    <button type="submit" class="btn btn-success btn-lg">
                        <i class="fas fa-save"></i>
                        Cập nhật
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>

<div id="content" style="padding-top:10px">
    <div class="container-fluid">

        <div class="row">

            <div class="col-12 col-sm-3">

                <div class="card card-warning card-outline">
                    <div class="card-header">

                        <div class="d-flex justify-content-between">
                            <h3 class="card-title">Chi nhánh</h3>
                        </div>

                    </div>
                    <div class="card-body">

                        <select class="custom-select form-control-border border-width-2">
                            <option>Nhà hàng 1</option>
                        </select>

                    </div>
                </div>

                <div class="card card-warning card-outline">
                    <div class="card-header">

                        <div class="d-flex justify-content-between">
                            <h3 class="card-title">Khu vực</h3>
                            <a href="#" data-target="#InitializeModal_RoomTableArea" data-toggle="modal"><i class="fa-solid fa-xl fa-circle-plus" style="color: green;"></i></a>
                        </div>

                    </div>
                    <div class="card-body">

                        <div class="input-group">
                            <select class="custom-select form-control-border border-width-2">
                                <option>---Tất cả---</option>
                                <option>Tầng 1</option>
                            </select>
                            <div class="input-group-append">
                                <button class="btn" data-target="#InitializeModal_RoomTableArea" data-toggle="modal"><i class="fa-solid fa-pen" style="color: gray;"></i></button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-9">
                <div class="card card-warning card-outline">
                    <div class="card-header">

                        <div class="d-flex justify-content-between">
                            <h3 class="card-title">PHÒNG/BÀN</h3>
                            <button type="button" class="btn btn-success" data-target="#InitializeModal_UpdateRoomTable" data-toggle="modal"><i class="fa-solid fa-xl fa-plus"></i> Thêm mới</button>
                        </div>

                    </div>

                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead class="thead-light">
                                <tr>
                                    <th>Tên phòng/bàn</th>
                                    <th>Khu vực</th>
                                    <th>Trạng thái</th>
                                    <th>STT</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>


                            </tbody>
                        </table>
                    </div>

                    <div class="card-footer">
                        <ul class="pagination pagination-sm m-0 float-right">
                            <li class="page-item"><a class="page-link" href="#">«</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">»</a></li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>


