@if (isLoadingScreen)
{
    <div class="loading-screen-overlay">
    </div>

    <div class="profile-main-loader">
        <div class="loader">
            <svg class="circular-loader" viewBox="25 25 50 50">
                <circle class="loader-path" cx="50" cy="50" r="20" fill="none" stroke="#6f42c1" stroke-width="0.2" />
            </svg>
            <img src="/images/_default/icon-loader.gif">
        </div>
    </div>
}

@code {
    [Parameter]
    public bool isLoadingScreen { get; set; }
}