@using eCommerce.Extensions
@using eCommerce.Pages
@inherits LayoutComponentBase

<Header />
<main>
    <CustomErrorBoundary Context="_exception">
        <ChildContent>
            @Body
        </ChildContent>
        <ErrorContent>
            <Error exception="@_exception"></Error>
        </ErrorContent>
    </CustomErrorBoundary>
</main>
<Footer />