@using D69soft.Client.Extensions
@using D69soft.Client.Pages
@using D69soft.Client.Pages.Auth
@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

<PageTitle>Nền tảng quản trị doanh nghiệp tối ưu</PageTitle>

<AuthorizeView>
    <Authorized>

        <NavBar />
        <NavMenu />

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <main>
                <CustomErrorBoundary Context="_exception">
                    <ChildContent>
                        @Body
                    </ChildContent>
                    <ErrorContent>
                        <Error exception="@_exception"></Error>
                    </ErrorContent>
                </CustomErrorBoundary>
            </main>
        </div>
        <!-- /.content-wrapper -->

        <Footer />

    </Authorized>
    <NotAuthorized>
        <RedirectToLogin></RedirectToLogin>
    </NotAuthorized>
</AuthorizeView>
